<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add Recipes</title>
    </head>
    <body>
    <main>
        <h1>Add a New Recipe</h1>
        <form method="POST">
            {% csrf_token %} <!--This is a security feature in Django; prevents Cross-Site Request Forgery attacks-->
            {{ form.as_p }}  <!-- This will display the form fields -->
            <button type="submit">Save Recipe</button>
        </form>
    </main>
    </body>
</html>